body{
    background-position: center;
    background-image: url('/assets/img/bg.png');
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
.profileavatar{
    width: 50%;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 10px 0 #fbf2db;

}

.btn-lg:hover{
    color: black;
}

.p-1:hover{
    color: black;
}
.crow{
    text-align: center;
}
img{
    width:20%
}
a, a:hover {
    color: white;
    text-decoration-line: none;
    text-decoration: none;
}
#main{
    height: auto;
    width: auto;
}
#features {
    position: relative;
    text-align: center;
    height: auto;
}
.sgimg{
    width: 50%;
    border-radius: 15%;
}
.sgheader{
    text-align: center;
}
.featurecard{
    border: 2px solid rgba(255, 255, 255, .5);
    background: rgba(0,0,0, 0.3);
}
.featurecard:hover{
    border: 2px solid white;
    box-shadow: 0 0 10px 0 #fbf2db;

}
footer {
    background: rgba(0, 0, 0, 0.2);
}

.arrowdown{
    position: absolute; bottom: 10px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);
}
.footer-copr{
    position: relative;
    text-align: center;
    height: auto;
}